@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 38px;
    color: #808C5F;
}

h2 {
    color: #F2dba5;
    padding-top: 15px;
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #F2dba5; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
    background:#808C5F; 
    padding:0 10px; 
    text-align: center;
 }

h4 {
    font-size: 20px;
    color: #808C5F;
}

h5 {
    font-size: 20px;
    color: white;
    padding: 0px;
}

.menu-text {
    font-size: 35px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
    color: white;
}

.main-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
    align-items: stretch;
}

.photos {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    margin-right: 0%;
}

.img {
    height: 200px;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.block {
    background-color: #F2dba5;
    height: 200px;
}

.main-text {
    height: 400px;
    color: #F2dba5;
}

.menu {
    padding-left: 2%;
    padding-right: 2%;
    width: 60%;
    background-color: #808C5F;
    color: white;
}
.menu p, h5 {
    color: white;
    padding-top: 0px;
}

@media only screen and (max-width: 1000px) {
    #col2 {
        display:none;
    }

    #col1 {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .photos {
        display:none;
    }

    .menu {
        width: 100%;
    }
}