@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {font-family: 'Montserrat', sans-serif;}

h1 {
    display: none;
}

h3 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

#experience-content{
    text-align: left;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #ADAC84;
    color: #1B371C;
}

.main-text {
    background-color: #ADAC84;
    color: #1B371C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
    /* position: absolute; */
    bottom: 0px;
    text-align: left;
}

.side-img {
    width: 350px;
    height: 600px;
    object-fit: cover;
    max-width: 100%;
    box-shadow: 2px 2px 8px #F2dba5;
}

.hid {
    display: none;
}

.top-img {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
}

.exp-container {
    position: relative;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

#classes {
    display: inline-flex;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    width: 100%;
}

.circle-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    width: 50%;
}

#first-circle {
    padding-left: 20%;
    padding-right: 4%;
}

#second-circle {
    padding-left: 4%;
    padding-right: 20%;
}

.characters-vert {
    font-size: 40px;
}

.characters-hor {
    font-size: 30px;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#jap-text {
    padding-right: 70px;
}

#ch-text {
    padding-left: 70px;
}

.exp-text {
    width: 500px;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .container {
        height: 200px;
    }
    .main-text {
        font-size: 30px;
        padding-left: 7%;
        padding-right: 7%;
    }

    .exp-container, #jap-text, #ch-text {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    #classes {
        display: flex;
        flex-direction: column;
    }

    #first-circle, #second-circle {
        padding-left: 10%;
        padding-right: 10%;
    }

    .characters-vert, #img-hid {
        display: none;
    }

    .characters-hor, .hid {
        display: flex;
        padding-left: 0px;
    }

}

@media only screen and (max-width: 1000px) {
    .exp-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}