@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #ADAC84;
}

.text-cont {
    float: inline-start;
    background-color: #ADAC84;
}

h3 {
    font-size: 25px;
    color: #1B371C;
    padding-top: 15px;
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #1B371C; 
    line-height: 0.1em;
    margin: 10px 0 20px;
} 
 
h3 span { 
    background:#ADAC84 ; 
    padding:0 10px; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: #ADAC84;
}

.image-grid {
 --gap: 16px;
 --num-cols: 3;
 --row-height: 300px;
 box-sizing: border-box;
 padding: var(--gap);
 
 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
 background-color: #ADAC84;

}

.text-grid {
 --gap: 16px;
 --num-cols: 3;
 --row-height: 8px;
 box-sizing: border-box;
 padding: var(--gap);
 
 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
 background-color: #ADAC84;
 font-family: 'Montserrat', sans-serif;

}

.text-grid > span {
    text-align: center;
    font-size: 17px;
}

.text-grid > a {
    text-align: center;
    font-size: 17px;
    color: #1B371C;
    text-decoration: none;
}

.text-grid > a:hover {
    color: #808C5F;
}
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

