@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}

.container {
    background-color: #F2DBA5;
}

.image-grid {
 --gap: 16px;
 --num-cols: 3;
 --row-height: 300px;
 box-sizing: border-box;
 padding: var(--gap);
 
 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
 background-color: #F2DBA5;

}

.text-grid {
 --gap: 16px;
 --num-cols: 3;
 --row-height: 8px;
 box-sizing: border-box;
 padding: var(--gap);
 
 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
 background-color: #F2DBA5;
 font-family: 'Montserrat', sans-serif;

}

.text-grid > span {
    text-align: center;
    font-size: 17px;
}

.text-grid > a {
    text-align: center;
    font-size: 17px;
    color: #1B371C;
    text-decoration: none;
}

.text-grid > a:hover {
    color: #808C5F;
}
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

